<div class="post">
  <div class="picture">
    {% set user=post["user"] %}
    {% set author_url=user["canonical_url"] %}
    <a href="{{ author_url }}"><img src="{{ user["avatar_image"]["url"] }}"/></a>
  </div>
  <div class="body">
    <a href="{{ author_url }}" class="actor">{{ user["name"] }}</a>
    {% if "html" in post %}
      <span class="message">{{ post["html"] }}</span>
    {% end %}
    <div class="meta">
      {% if "actions" in post %}
        <!-- 
        <a href="{{ escape(post["actions"][0]["link"]) }}" class="permalink">{{ locale.format_date(datetime.datetime.strptime(post["created_time"], "%Y-%m-%dT%H:%M:%S+0000")) }}</a>
        -->
      {% end %}
    </div>
  </div>
</div>
